# .gitignore

# Fichiers de cache Python
__pycache__/
*.pyc

# Base de données SQLite
db.sqlite3

# Environnements virtuels
env/

# Variables d'environnement
.env

# Autres fichiers temporaires
*.log
.DS_Store
